.App {
  
}





.App-header {
  background-image: url("images/121608453_264594088200792_1362238286302152200_n.png");
  background-size: cover;
  background-position: center;
  height: 100vmin;
  color: white
}

